* {
    margin: 0;
    padding: 0;
}

.principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.caja-juegos{
    background-color: rgb(150, 150, 150);
    border: 2px solid #000000;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
         
}

.productos{
    color: rgb(0, 0, 0);
    margin: 25px;
    text-align: center;

}

.imagen-juegos {
    height: 200px;
    width: 300px;
    
}